/* Blog.Home.css */

/* Reset some basics */

.split-layout {
  display: flex;
  gap: 20px; /* optional spacing between columns */
}

.main-content {
  flex: 0 0 65%;
}

.sidebar {
  flex: 0 0 35%;
}









/* Responsive tweaks */
@media (max-width: 786px) {
  .main-content {
    padding-top: 8rem; /* Adjust to the height of your header */
  }
}
